<div class="container">
    <h1>STS Loaner Page</h1>
    <form action="/login" method="post">
        <input class="form-control" type="password" placeholder="Password" name="password">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
</div>